<div class="animated fadeIn">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h1 class="h5 m-0">User list</h1>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-xs-12 col-12 col-md-9 form-group">
            <button type="button" class="btn btn-success" name="create" id="create" (click)="createUser()">Create</button>
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group pull-right">
            <input [(ngModel)]="searchTerm" class="search form-control" placeholder="search" (keyup)="search()">
          </div>
        </div>
        <div>
          <ngx-datatable #dtTable
            class="material fullscreen"
            [rows]="users$ | async"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [count]="pageInfo.count"
            [offset]="pageInfo.offset"
            [limit]="pageInfo.pageSize"
            (page)="onTableChange($event)"
            (sort)="onTableChange($event)">
            <ngx-datatable-column name="id">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">#</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="username" headerClass="th">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">Username</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template let-column="column" ngx-datatable-header-template>

              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button type="button" class="btn-small btn-primary" (click)="editUser(row)">edit
                </button>
                <button type="button" class="btn-small btn-danger" (click)="deleteUser(row)">delete
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{userToEdit.id?"Update":"Create"}} User</h4>
          <button type="button" class="close pull-right" (click)="editModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="input_user_id">Username</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="userToEdit.username" class="form-control" id="input_user_id"
                       name="input_user_id" placeholder="Username">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="create()" [hidden]="userToEdit.id">Create</button>
          <button type="button" class="btn btn-primary" (click)="update()" [hidden]="!userToEdit.id">Update</button>
          <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content border-modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Delete Confirm
          </h5>
        </div>
        <div class="modal-body" align="center">confirm deleting of {{userToDelete.username}}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="delete();">Delete
          </button>
          <button type="button" class="btn btn-log" (click)="deleteModal.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </div>


