

/**
* @api {post} /<%- lowerEntityName%>s create<%- entityName%>
* @apiVersion 0.0.1
* @apiName create<%- entityName%>
* @apiGroup <%- entityName%>
* @apiDescription create <%- entityName%>
*
<%- columnsDocs%>
*
* @apiSuccess {Number} id  <%- entityName%> id.
*
* @apiSuccessExample Success-Response:
*     HTTP/1.1 200 OK
*     {
*       id:1
*     }
* @apiUse authorized
*/

/**
* @api {get} /<%- lowerEntityName%>s get<%- entityName%>List
* @apiVersion 0.0.1
* @apiName get<%- entityName%>List
* @apiGroup <%- entityName%>
* @apiDescription get <%- entityName%> list
*
* @apiSuccess {Number} id  <%- entityName%> id.
*
* @apiSuccessExample Success-Response:
*     HTTP/1.1 200 OK
*     [
*        ...
*     ]
* @apiUse authorized
*/

/**
* @api {get} /<%- lowerEntityName%>s/:id get<%- entityName%>ByID
* @apiVersion 0.0.1
* @apiName get<%- entityName%>ByID
* @apiGroup <%- entityName%>
* @apiDescription get <%- entityName%> by id.
*
* @apiSuccess {Number} id  <%- entityName%> id.
*
* @apiSuccessExample Success-Response:
*     HTTP/1.1 200 OK
*     [
*        ...
*     ]
* @apiUse authorized
*/

/**
* @api {put} /<%- lowerEntityName%>s/:id update<%- entityName%>
* @apiVersion 0.0.1
* @apiName update<%- entityName%>
* @apiGroup <%- entityName%>
* @apiDescription update <%- entityName%> info.
*
* @apiParam {Number} id <%- entityName%> unique ID.
<%- columnsDocs%>
*
* @apiSuccess {Number} affectedRows  rows updated.
*
* @apiSuccessExample Success-Response:
*     HTTP/1.1 200 OK
*     {
*       "affectedRows": 1
*     }
* @apiUse authorized
*/

/**
* @api {delete} /<%- lowerEntityName%>s/:id delete<%- entityName%>
* @apiVersion 0.0.1
* @apiName delete<%- entityName%>
* @apiGroup <%- entityName%>
* @apiDescription delete <%- entityName%> by id.
*
* @apiParam {Number} id <%- entityName%> unique ID.
*
* @apiSuccess {Number} affectedRows  rows updated.
*
* @apiSuccessExample Success-Response:
*     HTTP/1.1 200 OK
*     {
*       "affectedRows": 1
*     }
* @apiUse authorized
*/

