/**
 * Created by enixjin on 7/18/16.
 */
global.config = require('../config.js');

import {App} from "@jinyexin/core";
import {userController} from "./controller/userController";
import {imageController} from "./controller/imageController";
<%- imports%>

// uncomment following code to enable socket.io
// import {Gateway} from "./websocket/gateway";

let application = new App(
    {
        appName: "domain",
        controllers: [
            userController,
            <%- controllers%>
            imageController
        ],
        // uncomment following code to enable socket.io
        // gateway: Gateway,
        // initialDatabase: true,
        // enableSwagger: true
    }
);

application.init();
