/**
 * Created by enixjin on 9/24/15.
 */
var config = {};

config.servicePort = 3000;

config.db = "MySQL";//MySQL or PostgreSQL
config.loginType = "MySQL";

//db account
var db_server = "<%-db_server%>";
var db_user = "<%-db_user%>";
var db_password = "<%-db_password%>";

config.distributedDBs = [
];

config.centralizedDB = {
    connectionLimit: 5,
    host: db_server,
    database: "<%-database%>",
    user: db_user,
    password: db_password
};



config.logLevel = 'debug';
config.logFile = '/sandbox/log/domain/log.txt';
config.logLevelFile = "debug";

config.jwtSecKey = 'enixjin';
config.jwtTimeout = '90d';

config.imagePath = "/sandbox/temp";

module.exports = config;
