/**
* Created by enixjin
*/
import {CRUDController, ICRUDController, Inject} from "@jinyexin/core";
import {<%- lowerEntityName%>Repository} from "../domain/repository/<%- lowerEntityName%>Repository";
import {<%- entityName%>} from "../domain/entity/<%- entityName%>";

@CRUDController(<%- entityName %>)
export class <%- lowerEntityName %>Controller {

    @Inject()
    repository: <%- lowerEntityName%>Repository;

}

export interface <%- lowerEntityName %>Controller extends ICRUDController<<%- entityName %>> {
}