/**
* Created by enixjin
*/
import {baseDomainObject} from "@jinyexin/core";
import {dbType} from "@jinyexin/core";
import {RESTEntity, exportable, subQuery<%- userImport%>} from "@jinyexin/core";

@RESTEntity(
    {
        table: "<%- tableName%>",
        URL: "/<%- lowerEntityName%>s",
        db: dbType.centralized
    })
export class <%- entityName%> extends <%- baseDomainObject%> {

<%- columnDefinition%>

}