/**
* Created by enixjin
*/
import {<%- entityName%>} from "../entity/<%- entityName%>";
import {baseRepository, logger, Repository} from "@jinyexin/core";

@Repository()
export class <%- lowerEntityName%>Repository extends baseRepository<<%- entityName%>> {

    constructor() {
        super(<%- entityName%>);
        logger.info("init <%- lowerEntityName%>Repository");
    }
}