openapi: 3.0.0
info:
  title: Domain API
  description: Domain API
  version: 0.1.0
servers:
  - url: 'http://localhost:3000/api'
    description: Local Server
  - url: 'https://api.yourprodserver.com/api'
    description: Production Server
  - url: 'https://api.yourtestserver.com/api'
    description: Test Server
paths:
  '/users/login':
    post:
      tags:
        - Login
      summary: Login
      description: 'login user and get token, you should use this token for authorize'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            example:
              username: 'enixjin'
              password: '111111'
      responses:
        '200':
          description: login token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
      security: []
  <% tableDefinitions.forEach(function (tableDefinition) {%>
  '/<%-tableDefinition.lowerEntityName%>s':
    get:
      summary: Get(or Search) a list of <%-tableDefinition.lowerEntityName%>s
      tags:
        - <%-tableDefinition.entityName%>
      parameters:
        - in: query
          name: <%-tableDefinition.lowerEntityName%>
          schema:
            $ref: '#/components/schemas/<%-tableDefinition.entityName%>'
        - in: query
          name: __mode
          schema:
            type: string
            enum: ['like', 'likeOr']
          description: empty for exact 'and', 'like' for 'like and', 'likeOr' for 'like or'
        - in: query
          name: __limit
          schema:
            type: boolean
          description: by default api will limit the results to 100 max, send false to disable the limit (be aware the performance issue)
      responses:
        '200':
          description: A JSON array of <%-tableDefinition.lowerEntityName%>s
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOf<%-tableDefinition.entityName%>'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      summary: Creates a (or an array of) <%-tableDefinition.lowerEntityName%>
      tags:
        - <%-tableDefinition.entityName%>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/<%-tableDefinition.entityName%>'
                - $ref: '#/components/schemas/ArrayOf<%-tableDefinition.entityName%>'
      responses:
        '201':
          description: return new created id or affected rows
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AffectedRowsResponse'
                  - type: object
                    properties:
                      id:
                        type: integer
                        example: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    put:
      summary: Batch update <%-tableDefinition.lowerEntityName%>
      tags:
        - <%-tableDefinition.entityName%>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArrayOf<%-tableDefinition.entityName%>'
      responses:
        '200':
          description: Updated rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffectedRowsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      summary: Batch delete <%-tableDefinition.lowerEntityName%>
      tags:
        - <%-tableDefinition.entityName%>
      parameters:
        - in: query
          name: <%-tableDefinition.lowerEntityName%>
          schema:
            $ref: '#/components/schemas/<%-tableDefinition.entityName%>'
      responses:
        '201':
          description: return affected rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffectedRowsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  '/<%-tableDefinition.lowerEntityName%>s/{id}':
    get:
      summary: Get <%-tableDefinition.entityName%> by id
      tags:
        - <%-tableDefinition.entityName%>
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: <%-tableDefinition.lowerEntityName%> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/<%-tableDefinition.entityName%>'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    put:
      summary: Update <%-tableDefinition.lowerEntityName%> by id
      tags:
        - <%-tableDefinition.entityName%>
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/<%-tableDefinition.entityName%>'
      responses:
        '200':
          description: Updated rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffectedRowsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      summary: Delete <%-tableDefinition.lowerEntityName%> by id
      tags:
        - <%-tableDefinition.entityName%>
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffectedRowsResponse'
        '401':
          $ref: '#/components/schemas/AffectedRowsResponse'
  '/<%-tableDefinition.lowerEntityName%>s/pagination':
    post:
      summary: Pagination query
      tags:
        - <%-tableDefinition.entityName%>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageInfo'
      responses:
        '201':
          description: return pagination result
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/<%-tableDefinition.entityName%>'
  <%});%>
components:
  schemas:
    BaseDomainObject:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        creator:
          type: integer
          readOnly: true
        updater:
          type: integer
          readOnly: true
        create_date:
          type: string
          format: date
          readOnly: true
        update_date:
          type: string
          format: date
          readOnly: true
    PageInfo:
      type: object
      properties:
        pageSize:
          type: integer
          example: 10
        count:
          type: integer
          readOnly: true
        total:
          type: integer
          readOnly: true
        offset:
          type: integer
          example: 0
        searchAllColumn:
          type: string
          description: default search value for all columns, can be override by columns[i].value
        sorts:
          type: array
          items:
            type: object
            properties:
              column:
                type: string
              dir:
                type: string
                enum:
                  - desc
                  - asc
        columns:
          type: array
          description: search by column
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
                description: optional value will overide searchAllColumn
              join:
                type: string
                description: default is or
                enum:
                  - or
                  - and
              matchExactly:
                type: boolean
                description: default is false
                example: false
    LoginResponse:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        token:
          type: string
        detail:
          $ref: '#/components/schemas/User'
    AffectedRowsResponse:
      type: object
      properties:
        affectedRows:
          type: integer
          readOnly: true
          example: 1
<% tableDefinitions.forEach(function (tableDefinition) {%>
    <%-tableDefinition.entityName%>:
      allOf:
        - type: object
          properties:<% tableDefinition.columns.map(function (cl) {%>
            <%-cl.field%>:
              type: <%-cl.swaggerType%><%if(cl.field=="username"){%>
              example: 'enixjin'<%}%><%if(cl.field=="password"){%>
              writeOnly: true
              example: '111111'<%}%><%});%>
        - $ref: '#/components/schemas/BaseDomainObject'
    ArrayOf<%-tableDefinition.entityName%>:
      type: array
      items:
        $ref: '#/components/schemas/<%-tableDefinition.entityName%>'
<%});%>
  securitySchemes:
    jwtAuth:
      type: apiKey
      in: header
      name: jwt
  responses:
    UnauthorizedError:
      description: Token is missing, expired, revoked, malformed, or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: error message
              statusCode:
                type: integer
                description: error status code, same as http code
              error:
                type: string
                description: error stack

security:
  - jwtAuth: []
