<div class="animated fadeIn">
  Welcome,{{loginUser.username}}<br>
  <ul>
    <li>to edit left navigation bar, edit /src/app/_nav.ts</li>
    <li>all shared components are in /src/app/components</li>
    <li>all pages are in /src/app/views</li>
    <li>for more ui information go <a href="http://coreui.io">CoreUI</a></li>
    <li>for more table information go <a href="http://swimlane.github.io/ngx-datatable/#">ngx-datatable</a></li>
  </ul>
</div>
