// icons can be found in http://coreui.io/demo/pro/Angular_Demo/#/icons/simple-line-icons
export const navigation = [
    {
        name: 'Dashboard',
        url: '/dashboard',
        icon: 'icon-speedometer'
    },
    {
        title: true,
        name: 'GENERATED EXAMPLE',
        badge: {
            variant: 'info',
            text: 'NEW'
        }
    },
    {
        name: 'Generated',
        url: '/generated',
        icon: 'icon-puzzle',
        children: [
            <% tableDefinitions.forEach(function (td) {%>
                {
                    name: '<%-td.entityName%>',
                    url: '/generated/<%-td.lowerEntityName%>s',
                    icon: 'icon-user'
                },
            <% });%>
        ]
    },
    {
        name: 'Logout',
        url: '/logout',
        icon: 'icon-logout'
    }
];
