/**
* Created by enixjin.
*/
import {DOMAIN_SERVER} from "../environments/environment";

export * from "../environments/environment";

export const FILE_DOWNLOAD_URL = DOMAIN_SERVER + "/resources/upload";
export const IMAGE_DOWNLOAD_URL = DOMAIN_SERVER + "/resources/image";

export const DOMAIN_SERVER_URL = DOMAIN_SERVER + "/api";

export const UPLOAD_IMAGE_URL = DOMAIN_SERVER_URL + "/image";
export const UPLOAD_MULTI_URL = DOMAIN_SERVER_URL + "/upload/multiple";

export const USER_URL = "/users";

<% tableDefinitions.forEach(function (td) {%>export const <%-td.entityName%>_URL = "/<%-td.lowerEntityName%>s";
<% });%>
