import {NgModule} from '@angular/core';
import {SharedModules} from "../../../shared/sharedModules";
import {<%-tableDefinition.entityName%>RoutingModule} from "./<%-tableDefinition.lowerEntityName%>-routing.module";
import {<%-tableDefinition.entityName%>Component} from "./<%-tableDefinition.lowerEntityName%>.component";


@NgModule({
    imports: [
        SharedModules,
        <%-tableDefinition.entityName%>RoutingModule
    ],
    declarations: [<%-tableDefinition.entityName%>Component],
    providers: []//no need for set providers here since angular 6
})
export class <%-tableDefinition.entityName%>Module {
}
