<div class="animated fadeIn">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h1 class="h5 m-0"><%-tableDefinition.entityName%> list</h1>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-xs-12 col-12 col-md-9 form-group">
            <button type="button" class="btn btn-success" name="create" id="create" (click)="createEntity()">Create</button>
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group pull-right">
            <input [(ngModel)]="pageInfo.searchAllColumn" class="search form-control" placeholder="search" (keyup)="search()">
          </div>
        </div>
        <ngx-datatable #dtTable
                class="material fullscreen"
                [rows]="entitys$ | async"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="40"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [externalSorting]="true"
                [count]="pageInfo.count"
                [offset]="pageInfo.offset"
                [limit]="pageInfo.pageSize"
                (page)="onTableChange($event)"
                (sort)="onTableChange($event)">
          <ngx-datatable-column name="id">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">#</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
            <% tableDefinition.columns.map(function (cl) {%>
          <ngx-datatable-column [prop]="'<%-cl.field%>'" headerClass="th">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()"><%-cl.field%></span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.<%-cl.field%>}}
            </ng-template>
          </ngx-datatable-column>
            <%});%>
          <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>

            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button type="button" class="btn-small btn-primary" (click)="editEntity(row)">edit
              </button>
              <button type="button" class="btn-small btn-danger" (click)="deleteEntity(row)">delete
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{entityToEdit.id?"Update":"Create"}} <%-tableDefinition.entityName%></h4>
        <button type="button" class="close pull-right" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <% tableDefinition.columns.map(function (cl) {%>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="input_<%-cl.field%>"><%-cl.field%></label>
            <div class="col-md-9">
              <input type="<%if(cl.type==="Date"){%>date<%}else{%>text<%}%>" [(ngModel)]="entityToEdit.<%-cl.field%>" class="form-control" id="input_<%-cl.field%>"
                     name="input_<%-cl.field%>" placeholder="<%-cl.field%>">
            </div>
          </div>
          <%});%>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="create()" [hidden]="entityToEdit.id">Create</button>
        <button type="button" class="btn btn-primary" (click)="update()" [hidden]="!entityToEdit.id">Update</button>
        <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Delete Confirm
        </h5>
      </div>
      <div class="modal-body" align="center">confirm deleting of id:{{entityToDelete.id}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete();">Delete
        </button>
        <button type="button" class="btn btn-log" (click)="deleteModal.hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>


