import {NgModule} from '@angular/core';
import {RouterModule, Routes} from '@angular/router';
import {<%-tableDefinition.entityName%>Component} from "./<%-tableDefinition.lowerEntityName%>.component";


const routes: Routes = [
    {
        path: '',
        redirectTo: 'list',
        pathMatch: 'full',
    },
    {
        path: 'list',
        component: <%-tableDefinition.entityName%>Component
    }
];

@NgModule({
    imports: [RouterModule.forChild(routes)],
    exports: [RouterModule]
})
export class <%-tableDefinition.entityName%>RoutingModule {
}
