import {BaseModule} from "./BaseModule";

export class <%-tableDefinition.entityName%> extends BaseModule {
    id: number;
<% tableDefinition.columns.map(function (cl) {%><%-cl.field%>: <%-cl.type%>;
<%});%>
}

