import {Component, OnDestroy, ViewChild} from '@angular/core';
import {Router} from '@angular/router';
import {ModalDirective} from "ngx-bootstrap";

import {catchError, debounceTime, map, switchMap, takeUntil, tap} from 'rxjs/operators';
import {Observable, Subject} from "rxjs";

import {BaseAuthenticateComponent} from "../../../components/baseAuthenticateComponent";
import {<%-tableDefinition.entityName%>} from "../../../module/<%-tableDefinition.entityName%>";
import {MessageService} from "../../../service/messageService";
import {<%-tableDefinition.entityName%>Service} from "../../../service/<%-tableDefinition.lowerEntityName%>Service";
import {PagedData} from "../../../module/pagination/PagedData";
import {PageInfo} from "../../../module/pagination/PageInfo";

@Component({
    templateUrl: '<%-tableDefinition.lowerEntityName%>.component.html'
})
export class <%-tableDefinition.entityName%>Component extends BaseAuthenticateComponent implements OnDestroy{

    @ViewChild('editModal') public editModal: ModalDirective;
    @ViewChild('deleteModal') public deleteModal: ModalDirective;
    @ViewChild('dtTable') table: any;

    private unsubscribe: Subject<void> = new Subject(); //handle all subject's unsubscribe here

    searchSteam = new Subject<PageInfo>();

    entitys$: Observable<<%-tableDefinition.entityName%>[]>;
    entityToEdit: <%-tableDefinition.entityName%> = new <%-tableDefinition.entityName%>();
    entityToDelete: <%-tableDefinition.entityName%> = new <%-tableDefinition.entityName%>();

    pageInfo: PageInfo = new PageInfo();

    constructor(protected _router: Router, private _messageService: MessageService, private _entityService: <%-tableDefinition.entityName%>Service) {
        super(_router, _messageService);
    }

    //life cycle
    ngOnInit() {
        this.entitys$ = this.searchSteam.pipe(
            takeUntil(this.unsubscribe),
            debounceTime(500),
            tap(_ => this._messageService.globalLoading$.next(true)),
            switchMap((search: PageInfo) => this._entityService.pagination(search)),
            map((result: PagedData<<%-tableDefinition.entityName%>>) => {
                this.pageInfo = result.page;
                this.table.bodyComponent.updateOffsetY(this.pageInfo.offset);
                this.table.offset = this.pageInfo.offset;
                this._messageService.globalLoading$.next(false);
                return result.data;
            }),
            catchError(err => {
                this._messageService.globalLoading$.next(false);
                this.handleError(err);
                return [];
            })
        );
    }

    ngAfterViewInit() {
        // TODO put searchable columns here
        this.pageInfo.columns = [{name: "id"}];
        this.search();
    }

    ngOnDestroy() {
        this.unsubscribe.next();
        this.unsubscribe.complete();
    }

    onTableChange(page) {
        if (page.offset || page.offset === 0) {
            this.pageInfo.offset = page.offset;
        }
        if (page.sorts) {
            this.pageInfo.sorts = page.sorts.map(old => {
                return {dir: old.dir, column: old.prop}
            });
        }
        this.search(false);
    }

    search(toFirstPage = true) {
        if (toFirstPage) {
            this.pageInfo.offset = 0;
        }
        this.searchSteam.next(this.pageInfo);
    }

    editEntity(entity: <%-tableDefinition.entityName%>) {
        this.entityToEdit = entity;
        this.editModal.show();
    }

    createEntity() {
        this.entityToEdit = new <%-tableDefinition.entityName%>();
        this.editModal.show();
    }

    deleteEntity(entity: <%-tableDefinition.entityName%>) {
        this.entityToDelete = entity;
        this.deleteModal.show();
    }

    create() {
        this._entityService.create(this.entityToEdit).subscribe(
            () => {
                this.handleSuccess("create success");
                this.editModal.hide();
                this.search();
            },
            err => this.handleError(err)
        );
    }

    update() {
        this._entityService.update(this.entityToEdit).subscribe(
            () => {
                this.handleSuccess("update success");
                this.editModal.hide();
                this.search();
            },
            err => this.handleError(err)
        );
    }

    delete() {
        this._entityService.delete(this.entityToDelete.id).subscribe(
            () => {
                this.handleSuccess("delete success");
                this.deleteModal.hide();
                this.search();
            },
            err => this.handleError(err)
        );
    }


}
