/**
 * Created by enixjin.
 */
import {HttpClient} from "@angular/common/http";
import {Injectable} from "@angular/core";
import {Observable} from "rxjs";
import {DOMAIN_SERVER_URL, <%-tableDefinition.entityName%>_URL} from "../constants";
import {<%-tableDefinition.entityName%>} from "../module/<%-tableDefinition.entityName%>";
import {BaseService} from "./baseService";

@Injectable({
    providedIn: 'root', // you may want to limit the service to module by put Module here
})
export class <%-tableDefinition.entityName%>Service extends BaseService<<%-tableDefinition.entityName%>> {

    constructor(http: HttpClient) {
        super(http);
    }

    getServiceUrl(): string {
        return DOMAIN_SERVER_URL + <%-tableDefinition.entityName%>_URL;
    }

}
